
.fixed-footer {
  display: inline-block;
  margin-top: 15px;
  text-align: vertical;
}

.footer-ul {
  color: black;
}

.logo1 {
  height: 20px;
}

.logo2 {
  height: 25px;  
}

li.copyright {
  font-size: .75em;
  font-weight: normal;
  padding-top: 5px;
}
