/* To Do: center the footer text vertically;   */

footer {
/*  bottom: 0;
  position: absolute;
  left: 0;  */
}

.fixed-footer {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

/*
.fixed-footer1 {
  float: left;
}

.fixed-footer2 {
  text-align: center;
}

.fixed-footer3 {
  float: right;
}
*/
.footer-ul {
  color: black;
}
