
/* ROW 1: Jumbotron */
.jumbotron.form-page {
  padding: 20px;
  width: 47%;
  background-color: transparent !important;
  margin-left: 90px;
}

/* ROW 2: Instructions */
.container-form-page {
  margin-bottom: 30px;
}

.form-detail-background {
  background-color: #f69679;
  padding: 20px;
  border-radius: 25px;
  margin-left: 90px;
  margin-right: 60px;
}

#form-detail-subheader {
  text-align: center;
}

button.required-parameters {
  margin-top: 20px;
}

.button-center {
  text-align: center;
}
#form-detail-border {
  border-top: 2px black solid;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
}

div.text-align-left {
  list-style-type: inherit;
  text-align: left;
  font-weight: normal;
  padding: 0px;
  margin-left: 10px;
}

/*
ul.form-detail-list {
  list-style-type: inherit;
  text-align: left;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}
*/

/* ROW 3: Form */
.sign-up-form-val-background {
  background-color: #00BCFF;
  border-radius: 25px;
}

form {
  padding: 20px;
  margin-left: 30px;
}

button.btn-submit-form {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  background-color: purple !important;
  font-weight: bold;
}

.btn-submit-form:hover {
  background-color: #D10CE8 !important;
}

.first-name-error, .last-name-error, .email-error, .password-error, .password-confirm-error, .zipcode-name-error {
  color: #dd4b39;
  font-weight: 600;
}

.required-text {
  color: white;
  margin-left: 7px;
  font-weight: normal;
}

.your-state {
  margin-right: 5px;
}
