
.animation-page {
  margin-bottom: 240px;
  padding: 20px;
  text-align: center;
}

h1.funny-squares {
  color: red;
  margin-bottom: 60px;
  text-align: center;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: #63a1f2;
  text-align: center;
  line-height: 100px;
  font-family: arial;
  font-size: 42px;
  transform: none;
  transition: transform .5s;
}

.square-container {
  perspective: 150px;
  display: inline-block;
}

.square0:hover {
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square1:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square2:hover {
  transform: scale(.8, .5);
  -webkit-transform: scale(.8, .5);
  -moz-transform: scale(.8, .5);
  -ms-transform: scale(.8, .5);
  -o-transform: scale(.8, .5);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square3:hover {
  transform: rotateY(745deg) rotateX(45deg);
  -webkit-transform: rotateY(745deg) rotateX(45deg);
  -moz-transform: rotateY(745deg) rotateX(45deg);
  -ms-transform: rotateY(745deg) rotateX(45deg);
  -o-transform: rotateY(745deg) rotateX(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square4:hover {
  transform: rotateX(45deg);
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square5:hover {
  transform: translate3d(20px, 50px, 100px);
  -webkit-transform: translate3d(20px, 50px, 100px);
  -moz-transform: translate3d(20px, 50px, 100px);
  -ms-transform: translate3d(20px, 50px, 100px);
  -o-transform: translate3d(20px, 50px, 100px);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

h4.animation-h4 {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/* ADDED */
/* for footer to stick: */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  /* background-color: #f5f5f5; */
}
