/* To Do: change more of the classes for the home-page containers and jumbotron so different from the landing page ones */

.navbar.navbar-default {
  margin-bottom: 0px !important;
  background-color: #FFF8EB !important;
}

div.home-page-row1-background {
  background-color: #FF7B7C;
}

div.container.home-page-jumbo {
  background-color: #FF7B7C;
}

/* Jumbotron on home page */
.jumbotron.home-page {
  margin-top: 50px;
  padding: 20px;
  background-color: transparent !important;
  color: black !important;
}

a.btn-homepage {
  color: purple !important;
  background-color: #f9e3ca !important;
}

.btn.span.purple {
  color: purple;
}

.container3-row3-homepage {
  background-color: #FFF8EB;
}

.background-text, .project-header {
  text-align: center;
  color: black;
  font-size: 2em; 
}

.project-header {
  margin-right: 50px;
  margin-left: 50px;
}

/* Skill Sets on home page */
.container2-row2-home {
  padding: 40px;
  background-color: #247BCC;
  color: white;
  margin-bottom: 50px;
}

p.skill-sets {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-screenshots {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 1px solid blue;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.landing-page-screenshot {
  background-image: url('/images/landing-page-screenshot.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.form-validation-screenshot {
  background-image: url('/images/form-screenshot.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.animations-screenshot {
  background-image: url('/images/animation-screenshot.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

p.home-photo-label {
  margin-left: 20px;
  margin-right: 10px;
}

a.home-photo-link {
  text-decoration: underline;
}

/* Experience on home page*/
.container7 {
  padding: 20px;
  background-color: #FF7B7C;
  color: black;
}
