
/* To Do: change more of the classes for the home-page containers and jumbotron so different from the landing page ones */

/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower");  */


/* 
.navbar.navbar-default {
  margin-bottom: 0px !important;
  /* background-color: #8E6CCD !important;
  color: white !important; 
}  */

/* Jumbotron on home page */
.jumbotron.home-page {
  margin-top: 50px;
  padding: 20px;
  background-color: #f69679 !important;
  color: white !important;
}

a.btn-homepage {
  color: purple !important;
  background-color: #f9e3ca !important;
}

.btn.span.purple {
  color: purple;
}

/* .jumbotron.jumbo-text {
  color: purple;
}  */

/* Skill Sets on home page */
.container2-row2-home {
  padding: 40px;
  background-color: #8e6ccd;
  color: white;
}

p.skill-sets {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-screenshots {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 1px solid blue;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.landing-page-screenshot {
  background-image: url('/images/landing-page-screenshot.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.form-validation-screenshot {
  background-image: url('/images/form-screenshot.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.animations-screenshot {
  background-image: url('/images/48458965.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

p.home-photo-label {
  margin-left: 20px;
  margin-right: 10px;
}

a.home-photo-link {
  text-decoration: underline;
}

/* Experience on home page*/
.container7 {
  padding: 20px;
  background-color: #f69679;
  color: white;
}

.footer.homepage {
  padding: 10px;
  background-color: #8e6ccd;
  color: white;
}

/* #f9e3ca #8e6ccd #f69679*/

/* OLD CSS for OLD home page HTML: */

/*
.row3 {
  margin-top: 50px;   
}

div.footer-text {
  font-color: black;
}

div.footer {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: purple;
}
*/
