
.main-image {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

div.page-header {
	position: absolute;
	z-index: 1;
	margin-left: 20px;
	top: 0;
	color: white;
}

header {
	background-color: #8E6CCD;
	padding: 30px;
	margin: 30px 0 30px 20px;
}

nav {
	position: absolute;
	z-index: 2;
 	top: 120px;
	margin-left: 20px;
}

main {
	margin-top: 150px;
}

div.footer {
	position: relative;
	width: 100%;
	height: 75px;
	background-color: purple;
	/* top: 1000px;
	font-color: black;
	/* position: absolute;
	z-index: 3; */
}

div.footer-text {
	font-color: black;
}

.thumbnail {
	width: 300px;
}

.thumbnail .thumbnail1 {
	margin-left: 30px;
}

.row3 {
	/* margin-top: 50px; */
	
}

.thumbnail-block {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}
