@import url("https://fonts.googleapis.com/css?family=Indie+Flower");

.todo-container {
/*  position: relative; */
  width: 500px;
 /* height: auto;
  left: 50%;
  margin-left: -250px; 
  margin-top: 10px;*/
  margin: 5px auto;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
  background: turquoise;
  padding: 20px;
}

.add-todo-container {
  margin-bottom: 10px;
}
.add-todo-container .col-md-10 {
  padding-left: 0;
}
.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

.todo-container h1 {
  color: green;
  margin-left: 60px;
  margin-bottom: 15px;
}
