
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<footer>
  <nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container">
      <ul class="footer-ul list-unstyled list-inline">
        <li class="fixed-footer">Find Me At:</li>
<!--    <a href=""><li class="fixed-footer fixed-footer1">github.com/372x</li></a> -->
        <a href="https://github.com/372x"><li class="fixed-footer fixed-footer1"><img class="logo1" src="/images/GitHub_Logo.png"></li></a>
        <a href="http://codepen.io/372x/"><li class="fixed-footer fixed-footer2"><img class="logo2" src="/images/CodePen-logo.png"></li></a>
        <a href="https://www.linkedin.com/in/slsullivan-webdev"><li class="fixed-footer fixed-footer3"><img class="logo3" src="/images/Logo-2C-14px.png"></li></a>
      </ul> 
    </div>
  </nav>
</footer>
