
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<footer>
  <nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container">
      <ul class="footer-ul list-unstyled list-inline">
        <li class="fixed-footer">Find Me At:</li>
<!--    <a href=""><li class="fixed-footer fixed-footer1">github.com/372x</li></a> -->
        <a href=""><li class="fixed-footer fixed-footer1"><img class="logo1" src="/images/GitHub_Logo.png"></li></a>
        <a href=""><li class="fixed-footer fixed-footer2">codepen.io/372x</li></a>
        <a href=""><li class="fixed-footer fixed-footer3">linkedin/###</li></a>
      </ul> 
    </div>
  </nav>
</footer>
