
<!-- TO DO: toggle collapsed navbar, add 'front-end web development' to brand in navbar -->

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SL Sullivan</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="nav-item active" role="menuitem" href="/server/view.ejs">Home</a></li>
        <li class="nav-item"><a role="menuitem" href="/pages/landingPage.html">Landing Page</a></li>
        <li class="nav-item"><a role="menuitem" href="/pages/formValPortfolio.html">Form Validation</a></li>
<!--    <li class="nav-item"><a role="menuitem" href="/pages/todo.html">Backbone Todo Application</a></li>  -->
        <li class="nav-item"><a role="menuitem" href="/pages/funnySquares.html">CSS Animations</a></li>
      </ul>
    </div>
  </div>
</nav>
