@import url(https://fonts.googleapis.com/css?family=Indie+Flower);.todo-container {
  /*  position: relative; */
  width: 500px;
  /* height: auto;
  left: 50%;
  margin-left: -250px; 
  margin-top: 10px;*/
  margin: 5px auto;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
  background: turquoise;
  padding: 20px;
}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-left: 0;
}

.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

.todo-container h1 {
  color: green;
  margin-left: 60px;
  margin-bottom: 15px;
}

/* To Do: change more of the classes for the home-page containers and jumbotron so different from the landing page ones */
/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower");  */
.navbar.navbar-default {
  margin-bottom: 0px !important;
  /* background-color: #8E6CCD !important;
  color: white !important; 
  FF6D97  FF1169   281EFF   E8A065   FFB06F  1EC0FF  77C0FF
  */
}

/* Jumbotron on home page */
.jumbotron.home-page {
  margin-top: 50px;
  padding: 20px;
  /* background-color: #f69679 !important; */
  background-color: #FF6D97 !important;
  color: black !important;
}

a.btn-homepage {
  color: purple !important;
  background-color: #f9e3ca !important;
}

.btn.span.purple {
  color: purple;
}

/* .jumbotron.jumbo-text {
  color: purple;
}  */
.background-text, .project-header {
  /* margin: 40px;
  padding-left: 30px;
  padding-right: 30px; */
  text-align: center;
  color: black;
  font-size: 2em;
}

.project-header {
  border-bottom: 2px solid black;
  margin-right: 50px;
  margin-left: 50px;
}

/* Skill Sets on home page */
.container2-row2-home {
  padding: 40px;
  background-color: #8e6ccd;
  color: white;
}

p.skill-sets {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-screenshots {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 1px solid blue;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.landing-page-screenshot {
  background-image: url("/images/landing-page-screenshot.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.form-validation-screenshot {
  background-image: url("/images/form-screenshot.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.animations-screenshot {
  background-image: url("/images/48458965.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

p.home-photo-label {
  margin-left: 20px;
  margin-right: 10px;
}

a.home-photo-link {
  text-decoration: underline;
}

/* Experience on home page*/
.container7 {
  padding: 20px;
  /* background-color: #f69679; */
  background-color: #FF6D97;
  color: black;
}

.footer.homepage {
  padding: 10px;
  background-color: #8e6ccd;
  /* background-color: #E8A065; */
  color: white;
}

/* #f9e3ca #8e6ccd #f69679*/
/* OLD CSS for OLD home page HTML: */
/*
.row3 {
  margin-top: 50px;   
}

div.footer-text {
  font-color: black;
}

div.footer {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: purple;
}
*/
/* ROW 1 properties */
.container1-jumbo {
  padding: 20px;
  background-image: url("/images/mountains.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.jumbotron.landing-page {
  padding: 20px;
  width: 47%;
  background-color: transparent !important;
  margin-left: 90px;
}

/* Jumbotron button */
.btn.pink {
  background-color: pink;
  color: purple !important;
  font-weight: bold;
}

.btn.pink:hover {
  background-color: #E80073;
  color: white !important;
}

/* FORM properites */
.sign-up-form-background {
  background-color: #00BCFF;
}

form {
  padding: 20px;
  margin-left: 30px;
}

button.btn-submit-form {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  background-color: purple !important;
  font-weight: bold;
}

.btn-submit-form:hover {
  background-color: #D10CE8 !important;
}

.first-name-error, .last-name-error, .email-error, .password-error, .password-confirm-error, .zipcode-name-error {
  color: #dd4b39;
  font-weight: 600;
}

.required-text {
  color: white;
  margin-left: 7px;
  font-weight: normal;
}

.your-state {
  margin-right: 5px;
}

/* Row 2 properties */
.container2-row2 {
  padding: 40px;
  background-color: green;
  color: white;
}

.centered-text {
  text-align: center;
}

.container2-text {
  margin: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: white;
  font-size: 2em;
}

/* Row 3 properties */
.square-photo {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 3px solid black;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.square-photo1 {
  background-image: url("/images/46751907.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.square-photo2 {
  background-image: url("/images/4755400.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.square-photo3 {
  background-image: url("/images/48458965.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.photo-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

/* Row 4 properties */
.container4-row4 {
  padding: 20px;
  background-color: green;
  color: white;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2-px solid black;
  background-color: white;
  margin: auto;
  display: block;
  margin-top: 50px;
}

.circle1 {
  background-image: url("/images/testimonial1.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.circle2 {
  background-image: url("/images/testimonial2.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.testimonial {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
  margin: auto;
  margin-bottom: 10px;
}

/* Row 5 properties */
.container5-row4 {
  background-color: #eee;
}

ul {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.footer-text-landing-page {
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

blockquote.style3 {
  font: 24px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 65px;
}

blockquote.style3 span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1.funny-squares {
  color: red;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-color: #63a1f2;
  text-align: center;
  line-height: 100px;
  font-family: arial;
  font-size: 42px;
  transform: none;
  transition: transform .5s;
}

.square-container {
  perspective: 150px;
  display: inline-block;
}

.square0:hover {
  transform: skewX(45deg);
  transition: transform .5s;
}

.square1:hover {
  transform: rotate(45deg);
  transition: transform .5s;
}

.square2:hover {
  transform: scale(0.8, 0.5);
  transition: transform .5s;
}

.square3:hover {
  transform: rotateY(745deg) rotateX(45deg);
  transition: transform .5s;
}

.square4:hover {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
  transition: transform .5s;
}

.square5:hover {
  transform: translate3d(20px, 50px, 100px);
  /* move it this far X, Y, Z */
  transition: transform .5s;
}

/* @import 'D3ProjectTestDrive'; */
/* @import 'photoSearch'; */
/* ROW 1 properties */
.container1-jumbo {
  padding: 20px;
  background-image: url("/images/mountains.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.jumbotron.landing-page {
  padding: 20px;
  width: 47%;
  background-color: transparent !important;
  margin-left: 90px;
}

/* Jumbotron button */
.btn.pink {
  background-color: pink;
  color: purple !important;
  font-weight: bold;
}

.btn.pink:hover {
  background-color: #E80073;
  color: white !important;
}

/* FORM properites */
.sign-up-form-background {
  background-color: #00BCFF;
}

form {
  padding: 20px;
  margin-left: 30px;
}

button.btn-submit-form {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  background-color: purple !important;
  font-weight: bold;
}

.btn-submit-form:hover {
  background-color: #D10CE8 !important;
}

.first-name-error, .last-name-error, .email-error, .password-error, .password-confirm-error, .zipcode-name-error {
  color: #dd4b39;
  font-weight: 600;
}

.required-text {
  color: white;
  margin-left: 7px;
  font-weight: normal;
}

.your-state {
  margin-right: 5px;
}

/* Row 2 properties */
.container2-row2 {
  padding: 40px;
  background-color: green;
  color: white;
}

.centered-text {
  text-align: center;
}

.container2-text {
  margin: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: white;
  font-size: 2em;
}

/* Row 3 properties */
.square-photo {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 3px solid black;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.square-photo1 {
  background-image: url("/images/46751907.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.square-photo2 {
  background-image: url("/images/4755400.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.square-photo3 {
  background-image: url("/images/48458965.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.photo-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

/* Row 4 properties */
.container4-row4 {
  padding: 20px;
  background-color: green;
  color: white;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2-px solid black;
  background-color: white;
  margin: auto;
  display: block;
  margin-top: 50px;
}

.circle1 {
  background-image: url("/images/testimonial1.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.circle2 {
  background-image: url("/images/testimonial2.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.testimonial {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
  margin: auto;
  margin-bottom: 10px;
}

/* Row 5 properties */
.container5-row4 {
  background-color: #eee;
}

ul {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.footer-text-landing-page {
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}

blockquote.style3 {
  font: 24px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 65px;
}

blockquote.style3 span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

video {
  height: 240px;
  width: 320px;
}

/*# sourceMappingURL=main.css.map*/