@import url(https://fonts.googleapis.com/css?family=Indie+Flower);.todo-container {
  /*  position: relative; */
  width: 500px;
  /* height: auto;
  left: 50%;
  margin-left: -250px; 
  margin-top: 10px;*/
  margin: 5px auto;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
  background: turquoise;
  padding: 20px;
}

.add-todo-container {
  margin-bottom: 10px;
}

.add-todo-container .col-md-10 {
  padding-left: 0;
}

.add-todo-container .col-md-2 {
  padding-right: 0;
  text-align: right;
}

.todo-container h1 {
  color: green;
  margin-left: 60px;
  margin-bottom: 15px;
}

.navbar.navbar-default {
  margin-bottom: 0px !important;
  background-color: #FFF8EB !important;
}

div.home-page-row1-background {
  background-color: #FF7B7C;
}

div.container.home-page-jumbo {
  background-color: #FF7B7C;
}

/* Jumbotron on home page */
.jumbotron.home-page {
  margin-top: 50px;
  padding: 20px;
  background-color: transparent !important;
  color: black !important;
}

a.btn-homepage {
  color: purple !important;
  background-color: #f9e3ca !important;
}

.btn.span.purple {
  color: purple;
}

.container3-row3-homepage {
  background-color: #FFF8EB;
}

.background-text, .project-header {
  text-align: center;
  color: black;
  font-size: 2em;
}

.project-header {
  margin-right: 50px;
  margin-left: 50px;
}

/* Skill Sets on home page */
.container2-row2-home {
  padding: 40px;
  background-color: #247BCC;
  color: white;
  margin-bottom: 50px;
}

p.skill-sets {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.home-screenshots {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 1px solid blue;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.landing-page-screenshot {
  background-image: url("/images/landing-page-screenshot.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.form-validation-screenshot {
  background-image: url("/images/form-screenshot.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.animations-screenshot {
  background-image: url("/images/animation-screenshot.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

p.home-photo-label {
  margin-left: 20px;
  margin-right: 10px;
}

a.home-photo-link {
  text-decoration: underline;
}

/* Experience on home page */
.container7 {
  padding: 20px;
  background-color: #FF7B7C;
  color: black;
}

/* Background buffer */
.homepage-buffer {
  background-color: #247BCC;
}

/* ROW 1: Jumbotron */
.jumbotron.form-page {
  padding: 20px;
  width: 47%;
  background-color: transparent !important;
  margin-left: 90px;
}

/* ROW 2: Instructions */
.container-form-page {
  margin-bottom: 30px;
}

.form-detail-background {
  background-color: #f69679;
  padding: 20px;
  border-radius: 25px;
  margin-left: 90px;
  margin-right: 60px;
}

#form-detail-subheader {
  text-align: center;
}

button.required-parameters {
  margin-top: 20px;
}

.button-center {
  text-align: center;
}

#form-detail-border {
  border-top: 2px black solid;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
}

div.text-align-left {
  list-style-type: inherit;
  text-align: left;
  font-weight: normal;
  padding: 0px;
  margin-left: 10px;
}

/* ROW 3: Form */
.sign-up-form-val-background {
  background-color: #00BCFF;
  border-radius: 25px;
}

form {
  padding: 20px;
  margin-left: 30px;
}

button.btn-submit-form {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  background-color: purple !important;
  font-weight: bold;
}

.btn-submit-form:hover {
  background-color: #D10CE8 !important;
}

.first-name-error, .last-name-error, .email-error, .password-error, .password-confirm-error, .zipcode-name-error {
  color: #dd4b39;
  font-weight: 600;
}

.required-text {
  color: white;
  margin-left: 7px;
  font-weight: normal;
}

.your-state {
  margin-right: 5px;
}

.buffer {
  margin: 50px;
}

.animation-page {
  margin-bottom: 240px;
  padding: 20px;
  text-align: center;
}

h1.funny-squares {
  color: red;
  margin-bottom: 60px;
  text-align: center;
}

.square {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  background-color: #63a1f2;
  text-align: center;
  line-height: 100px;
  font-family: arial;
  font-size: 42px;
  transform: none;
  transition: transform .5s;
}

.square-container {
  perspective: 150px;
  display: inline-block;
}

.square0:hover {
  transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -o-transform: skewX(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square1:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square2:hover {
  transform: scale(0.8, 0.5);
  -webkit-transform: scale(0.8, 0.5);
  -moz-transform: scale(0.8, 0.5);
  -ms-transform: scale(0.8, 0.5);
  -o-transform: scale(0.8, 0.5);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square3:hover {
  transform: rotateY(745deg) rotateX(45deg);
  -webkit-transform: rotateY(745deg) rotateX(45deg);
  -moz-transform: rotateY(745deg) rotateX(45deg);
  -ms-transform: rotateY(745deg) rotateX(45deg);
  -o-transform: rotateY(745deg) rotateX(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square4:hover {
  transform: rotateX(45deg);
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

.square5:hover {
  transform: translate3d(20px, 50px, 100px);
  -webkit-transform: translate3d(20px, 50px, 100px);
  -moz-transform: translate3d(20px, 50px, 100px);
  -ms-transform: translate3d(20px, 50px, 100px);
  -o-transform: translate3d(20px, 50px, 100px);
  transition: transform .5s;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -o-transition: transform .5s;
}

h4.animation-h4 {
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/* for footer to stick: */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* @import 'D3ProjectTestDrive'; */
/* @import 'photoSearch'; */
/* ROW 1 properties */
.container1-jumbo {
  padding: 20px;
  background-image: url("/images/mountains.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

/*
.jumbotron.landing-page {
  padding: 20px;
  width: 47%;
  background-color: transparent !important;
  margin-left: 90px;
} */
.jumbotron.landing-page {
  margin-top: 50px;
  padding: 20px;
  background-color: transparent !important;
  color: black !important;
}

/* Jumbotron button */
.btn.pink {
  background-color: pink;
  color: purple !important;
  font-weight: bold;
}

.btn.pink:hover {
  background-color: #E80073;
  color: white !important;
}

/* FORM properties */
.sign-up-form-background {
  background-color: #00BCFF;
}

form {
  padding: 20px;
  margin-left: 30px;
}

button.btn-submit-form {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #fff;
  background-color: purple !important;
  font-weight: bold;
}

.btn-submit-form:hover {
  background-color: #D10CE8 !important;
}

.first-name-error, .last-name-error, .email-error, .password-error, .password-confirm-error, .zipcode-name-error {
  color: #dd4b39;
  font-weight: 600;
}

.required-text {
  color: white;
  margin-left: 7px;
  font-weight: normal;
}

.your-state {
  margin-right: 5px;
}

/* Row 2 properties */
.container2-row2 {
  padding: 40px;
  background-color: green;
  color: white;
}

.centered-text {
  text-align: center;
}

.container2-text {
  margin: 40px;
  /*  padding-left: 30px;
  padding-right: 30px;  */
  text-align: center;
  color: white;
  font-size: 2em;
}

/*
**********CHANGE .container2-text for smallest screens*********
*/
/* Row 3 properties */
.square-photo {
  height: 200px;
  width: 300px;
  margin: auto;
  border: 3px solid black;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.square-photo1 {
  background-image: url("/images/square-photo1.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.square-photo2 {
  background-image: url("/images/square-photo2.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.square-photo3 {
  background-image: url("/images/square-photo3.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.photo-text {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

/* Row 4 properties */
.container4-row4 {
  padding: 20px;
  background-color: green;
  color: white;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 2-px solid black;
  background-color: white;
  margin: auto;
  display: block;
  margin-top: 50px;
}

.circle1 {
  background-image: url("/images/testimonial1.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.circle2 {
  background-image: url("/images/testimonial2.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.testimonial {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.25em;
  margin: auto;
  margin-bottom: 10px;
}

/* Row 5 properties */
.container5-row4 {
  background-color: #eee;
}

ul {
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.footer-text-landing-page {
  padding: 20px 0px 20px 0px;
  margin: 20px 0px 60px 0px;
  text-align: center;
}

blockquote.style3 {
  font: 24px/30px normal Tahoma, sans-serif;
  padding-top: 22px;
  margin: 5px;
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 65px;
}

blockquote.style3 span {
  display: block;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.fixed-footer {
  display: inline-block;
  margin-top: 15px;
  text-align: vertical;
}

.footer-ul {
  color: black;
}

.logo1 {
  height: 20px;
}

.logo2 {
  height: 25px;
}

li.copyright {
  font-size: .75em;
  font-weight: normal;
  padding-top: 5px;
}

video {
  height: 240px;
  width: 320px;
}

/*# sourceMappingURL=main.css.map*/