
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Name Name: Front-End Web Developer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<!-- <script src="//d3js.org/d3.v3.min.js"></script> -->
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body>
    <!-- Bootstrap Row 1: Header -->
    <div class="header">
      <header>
        <div class="page-header">
          <h1>Name Name<small>Front-End Web Developer</small></h1>
        </div>
        <!-- ROW TWO: NAVBAR; appended in header.js to header, the <nav> stuff here is for reference only -->
<!--    <nav class="navbar navbar-default">
          <div class="container-fluid">  -->
          <!-- Brand and toggle get grouped for better mobile display -->
<!--        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
            </div> -->
            <!-- Collect the nav links, forms, and other content for toggling -->
<!--        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Landing Page</a></li>
                    <li><a href="#">Form Validation</a></li>
                    <li><a href="#">Animation 1</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Animation 2</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Other projects</a></li>
                  </ul>
                </li>
                <li class="active"><a href="#">About Me <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Contact Me</a></li>
              </ul>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul> 
            </div>
          </div>
        </nav>  -->
      </header>
    </div>
    <!-- ROWs Three through Seven: MAIN -->
    <div class="main">
      <main>
        <!-- Bootstrap Row 3: Jumbotron -->
        <div class="container home-page-jumbo">
          <div class="row">
            <div class="col-md-12">
              <div class="jumbotron home-page">
                <h1 class="jumbo-text">Text Text Text!</h1>
                <p>MIT grad with recent coding skills and an interest in UI and animation seeks junior front-end web developer job.</p>
                <p><a class="btn btn-primary btn-lg pink" href="#" role="button">Check out my latest animation!</a></p>
              </div>
            </div>
          </div>
        </div>      
        <!-- Bootstrap Row 4: Carousel -->      
        <!-- Bootstrap Row 5: Graphics of projects with links to project pages; MAYBE REPLACE WITH CAROUSEL -->
        <div class="container3-row3">
          <div class="row">
            <div class="col-md-4">
              <div class="square-photo"></div>
              <p class="photo-text">Responsive Landing Page Built with Bootstrap</p>
              <button class="btn learn-more">Check it out!</button>
            </div>
            <div class="col-md-4 learn-more">
              <div class="square-photo"></div>
              <p class="photo-text">Form Validation using jQuery and Regular Expressions</p>
              <button class="btn learn-more">Check it out!</button>
            </div>
            <div class="col-md-4">
              <div class="square-photo"></div>
              <p class="photo-text">Animations built with CSS and jQuery</p>
              <button class="btn learn-more">Check them out now!</button>
            </div>
          </div>
        </div>
        <!-- ROW 6: SKILL SETS -->    
        <div class="container2-row2-home">
          <div class="row">
            <div class="col-md-6 left-side-row2">
              <p class="container2-text">Javascript, jQuery, Bootstrap3, HTML5, CSS3, basic Photoshop<p>
              <img src="" alt="" />
            </div>
            <div class="col-md-6 right-side-row2">
            <div class="centered-text">
              <p class="container2-text">Git, codepen, heroku<br><span class="small">*Plus a little node.js, Backbone, and React</span></p>
              <img src="" alt="" />
            </div>  
          </div>
        </div>
        <!-- ROW 7: EXPERIENCE -->    
        <div class="container7">
          <div class="row">
            <div class="col-md-12">
              <p class="container2-text">I learn fast and am self-directed.<p>
              <p class="container2-text">Graduate of daVinci Coders 2016 Javascript bootcamp.<p>
              <p class="container2-text">Work experience in product development and product management.<p>
            </div>
          </div>
        </div>  
      </main>
    </div>  <!-- end of div class "main" -->
    <!-- Bootstrap Last Row: Footer -->
    <div class="footer homepage">
      <footer>
        <!-- email address or contact form, with links to codepen and git and linked-in  -->
        <div class="container8-homepage">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-image"></div>
              <div class="footer-text">
                <ul>Find My Work At:
                  <li>github.com/372x</li>
                  <li>codepen.io/372x</li>
             <!-- <li>text</li>
                  <li>text</li>  -->
                </ul>  
                <ul class="contact-text">Email me at:
                  <li>name AT name DOT com</li>
            <!--  <li>what@what.com</li>  -->
                </ul>   
              </div>  
            </div>
          </div>
        </div>
      </footer>
    </div>  <!-- end of div class "footer" -->
  </body>
</html>

<!-- TO DO: add html for carousel; add images for carousel; redo class names for rows -->
