
<!-- TO DO: add final images for carousel; redo class names for rows -->
<!-- TO DO: troubleshoot the carousel controls; figure out carousel size and positioning -->
<!-- TO DO: toggle collapsed navbar, add 'front-end web development' to brand in navbar -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Name Name: Front-End Web Developer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<!-- ?? -->    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<!-- <script src="//d3js.org/d3.v3.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body>
    <!-- Bootstrap Row 1: Header -->
    <div class="header">
      <header>
      </header>
    </div>
    <!-- ROWs Three through Seven: MAIN -->
    <div class="main">
      <main>
        <!-- Bootstrap Row 3: Jumbotron -->
        <div class="container home-page-jumbo">
          <div class="row">
            <div class="col-md-12">
              <div class="jumbotron home-page">
                <h1 class="jumbo-text">Ready to Work!</h1>
                <p>MIT grad with new Javascript coding skills seeks junior front-end web developer job.</p>
<!--            <p><a class="btn btn-primary btn-lg btn-homepage" href="/pages/funnySquares.html" role="button">Check out my latest animations!</a></p>  -->
              </div>
            </div>
          </div>
        </div>      
        <!-- Bootstrap Row 4: Carousel -->
        <!-- Bootstrap Row 5: Graphics of projects with links to project pages -->
        <div class="container3-row3">
          <div class="row">
            <h2 class="project-header">My Projects</h2>
            <div class="col-md-4">
              <a href="/pages/formValPortfolio.html" class="home-photo-link"><div class="home-screenshots landing-page-screenshot"></div></a>
              <a href="/pages/formValPortfolio.html" class="home-photo-link"><p class="photo-text home-photo-label">Responsive Landing Page Built with Bootstrap</p></a>
            </div>
            <div class="col-md-4 learn-more">
              <a href="/pages/formValPortfolio.html" class="home-photo-link"><div class="home-screenshots form-validation-screenshot"></div></a>
              <a href="/pages/formValPortfolio.html" class="home-photo-link"><p class="photo-text home-photo-label">Form Validation using jQuery and Regular Expressions</p></a>
            </div>
            <div class="col-md-4">
              <a href="/pages/funnySquares.html" class="home-photo-link"><div class="home-screenshots animations-screenshot"></div></a>
              <a href="/pages/funnySquares.html" class="home-photo-link"><p class="photo-text home-photo-label">CSS Animations</p></a>
            </div>
          </div>
        </div>
        <!-- ROW 6: SKILL SETS -->    
        <div class="container2-row2-home">
          <div class="row">
            <p class="container2-text skill-sets">My Skills:</p>
            <div class="col-md-6 left-side-row2">
              <p class="container2-text">Javascript, jQuery, Bootstrap3, HTML5, CSS3, basic Photoshop</p>
              <img src="" alt="" />
            </div>
            <div class="col-md-6 right-side-row2">
            <div class="centered-text">
              <p class="container2-text">Git, node.js, codepen, heroku<br><span class="small">*Plus a little Backbone</span></p>
              <img src="" alt="" />
            </div>  
          </div>
        </div>
        <!-- ROW 7: EXPERIENCE -->    
        <div class="container7">
          <div class="row">
            <div class="col-md-12">
<!--          <p class="container2-text">I learn fast and am self-directed.<p>  -->
              <p class="background-text">Graduate of DaVinci Coders 2016 Javascript bootcamp.<p>
              <p class="background-text">Previous work experience in product development and product management.<p>
            </div>
          </div>
        </div>  
      </main>
    </div>  <!-- end of div class "main" -->
    <!-- Bootstrap Last Row: Footer -->
    <div class="footer homepage">
      <footer>
        <!-- email address or contact form, with links to codepen and git and linked-in  -->
        <div class="container8-homepage">
          <div class="row">
            <div class="col-md-12">
              <div class="footer-image"></div>
              <div class="footer-text">
                <ul>Find Me At:
                  <li>github.com/372x</li>
                  <li>codepen.io/372x</li>
                  <li>linkedin/###</li>
                </ul>  
                <ul class="contact-text">Email me at:
                  <li>name AT name DOT com</li>
                </ul>   
              </div>  
            </div>
          </div>
        </div>
      </footer>
    </div>  <!-- end of div class "footer" -->
  </body>
</html>
