
<!-- TO DO: redo class names for rows -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SL Sullivan: Front-End Web Developer</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" async="async" defer="defer" src="/application.js"></script>
  </head>
  <body>
    <!-- Bootstrap Row 1: Header -->
    <div class="header">
      <header>
      </header>
    </div>
    <!-- Bootstrap Rows Two through Five: Main -->
    <div class="main">
      <main>
        <!-- Bootstrap Row 2: Jumbotron -->
        <div class="home-page-row1-background">
          <div class="container home-page-jumbo">
            <div class="row">
              <div class="col-md-12">
                <div class="jumbotron home-page">
                  <h1 class="jumbo-text">Ready to Work!</h1>
                  <p>MIT grad with new Javascript coding skills seeks junior front-end web developer job.</p>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <!-- Bootstrap Row 3: Graphics of projects with links to project pages -->
        <div class="container3-row3-homepage">
          <div class="row">
            <h2 class="project-header">My Projects</h2>
            <div class="col-md-4">
              <a href="/pages/landingPage.html" class="home-photo-link"><div class="home-screenshots landing-page-screenshot"></div></a>
              <a href="/pages/landingPage.html" class="home-photo-link"><p class="photo-text home-photo-label">Responsive Landing Page Built with Bootstrap</p></a>
            </div>
            <div class="col-md-4 learn-more">
              <a href="/pages/formValPortfolio.html" class="home-photo-link"><div class="home-screenshots form-validation-screenshot"></div></a>
              <a href="/pages/formValPortfolio.html" class="home-photo-link"><p class="photo-text home-photo-label">Form Validation using jQuery and Regular Expressions</p></a>
            </div>
            <div class="col-md-4">
              <a href="/pages/funnySquares.html" class="home-photo-link"><div class="home-screenshots animations-screenshot"></div></a>
              <a href="/pages/funnySquares.html" class="home-photo-link"><p class="photo-text home-photo-label">CSS Animations</p></a>
            </div>
          </div>
        </div>
        <!-- ROW 4: Skill Sets -->    
        <div class="container2-row2-home">
          <div class="row">
            <p class="container2-text skill-sets">My Skills:</p>
            <div class="col-md-6 left-side-row2">
              <p class="container2-text">Javascript, jQuery, Bootstrap, HTML5, CSS3, CodePen, basic Photoshop</p>
              <img src="" alt="" />
            </div>
            <div class="col-md-6 right-side-row2">
            <div class="centered-text">
              <p class="container2-text">Git, Node.js, Heroku, familiarity with Handlebars.js, Underscore.js, and Backbone.js</p>
              <img src="" alt="" />
            </div>  
          </div>
        </div>
        <!-- ROW 5: Experience -->    
        <div class="container7">
          <div class="row">
            <div class="col-md-12">
              <p class="background-text">Graduate of DaVinci Coders 2016 Javascript bootcamp.<p>
              <p class="background-text">Previous work experience in product development and product management.<p>
            </div>
          </div>
        </div>  
      </main>
    </div>
    <!-- Row 6: Footer -->
    <footer>
    </footer>
  </body>
</html>
